/* Tooltip ultra-discret (ghost) */
#qaia-tooltip {
  position: fixed;
  z-index: 2147483647;
  pointer-events: none;

  max-width: min(360px, calc(100vw - 16px));
  padding: 3px 6px;

  border-radius: 8px;

  background: rgba(0, 0, 0, 0);
  color: rgba(236, 236, 236, 0.88);

  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.25;

  border: 0;
  box-shadow: none;

  opacity: 0;
  transform: translateY(1px);
  transition: opacity 80ms ease, transform 80ms ease;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


#qaia-tooltip.qaia-show {
  opacity: 1;
  transform: translateY(0);
}
